{% extends 'base2.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <main style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <article style="margin-top: 35vh; width: 30vw; background-color: rgba(245, 186, 65, 0.1); flex-direction: column; height: 70vh; display: flex; justify-content: space-evenly; align-items: center; border-radius: 20px; border: 4px #F5BA41 solid; text-align: center;">
        <div style="width: 20vw; height: 9vh; ">
            <span style="font-size: 40px; ">Log in</span>
        </div>
        <div style="width: 20vw; background-color: white; height: 7vh; border: 2px #F5BA41 solid; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
            <span style="font-size: 32px; ">with Facebook</span>
        </div>
        <div style="width: 20vw; background-color: white; height: 7vh; border: 2px #F5BA41 solid; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
            <span style="font-size: 32px; ">with Gmail</span>
        </div>
        <div style="width: 20vw; background-color: white; height: 7vh; border: 2px #F5BA41 solid; border-radius: 10px; display: flex; justify-content: center; align-items: center;">
            <span style="font-size: 32px; ">with Email</span>
        </div>
        <div style="width: 20vw; height: 9vh; padding-top: 2vh;">
            <span style="font-size: 24px; ">Don't have an account?</span>
        </div>
        <div style="width: 20vw; height: 9vh;">
            <span style="text-decoration: underline; font-size: 24px; ">Join now</span>
        </div>

    </article>
    </main>
{% endblock %}
